.new-version .top-line {
    width: 100%;
    background: #232323;
    padding: 0 20px;
    min-height: 40px;
}

.header2 .navbar-default {
    background: url(/themes/nedaa-post-new/images/header_bg_v2.jpg);
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-line ul.top-line-list li a, .top-line ul.top-line-list li span {
    padding: 8px 0 8px 20px;
    padding-left: 5px;
    text-align: right;
    color: #fff;
    font-size: 1em;
}

.navbar-brand.desktop {
    padding: 15px;
}

.search-form {
    display: block;
    position: relative;
    right: auto;
    left: 0;
    padding-top: 0px;

    background-color: transparent;
    width: 240px;
    float: left;
    margin-top: 40px;
}

.search-form .form input {
    -webkit-appearance: none;
    border: none;
    width: 245px;
    outline: none;
    padding: 5px 35px 5px 7px;
    font-size: 1rem;
    box-shadow: 0 1.5px 3px 2px rgb(0 35 64 / 10%);
    margin: 0;
    height: 100%;
}

#search-submit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    width: 35px;
    padding-right: 3px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 0px;
    background: transparent;
}

.navbar-nav > li > a {
    color: #000000 !important;
    font-size: 14px;
    font-family: Cairo, sans-serif;
    font-weight: 800;
}

.navbar-nav > li > a:before {
    height: 0px;
}

.header_links {
    /* width: 150px; */
    float: left;
}

.header_links ul {
    padding: 0px;
    margin-top: 10px;
}

li.header_links_item {
    display: inline-block;
    width: 80px;
    padding: 10px;
    text-align: center;
}

li.header_links_item.latest {
    background-color: #063e7b;
    color: #fff;
}

li.header_links_item.trends {

    background-color: #ac0000;
    color: #fff;
}

.new-version {
    background-color: #f5f8f8;
}

.heading-news2 {
    padding: 10px 0 10px;
    background: transparent;
    background-image: none;
}

.ticker-news {
    background: #f5f8f8;
}

.ticker-swipe{
    background: #f5f8f8;
}

.image-post .hover-box .inner-hover h2 {

    line-height: 22px;
    font-size: 18px;
}

.top-line ul.social-icons {

    margin-top: 12px;
}

.w-box {
    background-color: #fff;
    box-shadow: 0 1.5px 3px 0 rgba(0, 35, 64, 0.15);
    padding: 10px;
    min-height: 120px;
}

.w-box .post-content h2 {
    color: #000000 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-family: Cairo, sans-serif;
    font-weight: 500!important;
}
.tab-posts-widget .w-box{
    min-height: 90px;
}
 a:hover {
    cursor: pointer;
    background: transparent!important;
}
.sidebar .tab-posts-widget .tab-pane ul.list-posts > li {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 90px;
}

ul.list-posts > li .post-content h2 {
    max-height: 96px;
}

.sy-posts .w-box {
    border-right: 5px solid #9d2225;
}

/*New Slider*/
.news-holder {
    /*max-width: 700px;*/
    min-height: 450px;
    margin: 0 auto;
    font-family: "Segoe UI", "Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
    background: white;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.news-headlines {
    list-style: none;
    position: relative;
}

.news-headlines li {
    padding: 7px;
    position: relative;
    z-index: 20;
    color: #dddddd;
    width: 100%;
    background: #2d2d2d;
    min-height: 60px;
    font-size: 14px;
    font-family: Cairo, sans-serif;
    margin: 5px;
}

.nh-anim {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.news-headlines li:hover a:hover {
    cursor: pointer;
    background: #333333;
    color: #ffffff;
    font-weight: 500;
}

li.selected {
    background: #333333;
}

.news-headlines .highlight {
    width: 100%;
    background: #888888;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.news-headlines {
    float: right;
    width: 30%;
    background: #232323;
    position: absolute;
}

.news-preview {
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    position: relative;
}

.news-preview img {
    display: block;
    width: 100%;
    height: auto;
    /*max-height:275px;*/
    margin: 0 auto 5px auto;
}

.news-content {
    position: absolute;
    background: #333333;
    z-index: 10;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.resume {
    /*position: absolute;*/
    margin-top: 20px;

    bottom: 15px;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    /*padding-top: 15px;*/
    color: #bbb;
}
ul.list-posts > li .post-content h2 a:hover {
    color: inherit;
    background: #fff;
}
.standard-post .post-content {
    padding-top: 10px;
}
a.title {
    display: block;
    color: #dddddd;
    margin: 0 0 12px 0;
    font-size: 18px;
}

a.title:hover {
    background: none;
    text-decoration: underline;
}

.top-content {
    display: block;
}

.col-md-6.news-post.standard-post {
    padding: 0 0 10px;
}

.col-md-6.news-post.standard-post .standard-post-box {
    margin: 0 5px 10px;
    padding: 0 5px 5px;
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1.5px 3px 0 rgba(0, 35, 64, 0.05);

}
.col-md-6.news-post.standard-post .standard-post-box .post-content h2{
    min-height: 60px;
}
.col-md-6.news-post.standard-post .standard-post-box .post-content h2 a:hover {
    /*color: #fff;*/
}
.pd-5 {
    padding-left: 5px;
    padding-right: 5px;
}
figure.snip1253 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1253 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
figure.snip1253 .image {
    max-height: 220px;
    overflow: hidden;
}
figure.snip1253 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}
figure.snip1253 figcaption {
    margin: -25px 15px 0;
    padding: 10px;
    position: relative;
    background-color: #ffffff;
}
figure.snip1253 .date {
    background-color: #2980b9;
    top: 15px;
    color: #fff;
    left: 8px;
    min-height: 40px;
    min-width: 40px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
figure.snip1253 .date span {
    display: block;
    line-height: 24px;
}
figure.snip1253 .date .month {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.1);
}
figure.snip1253 h3,
figure.snip1253 p {
    margin: 0;
    padding: 0;
}
figure.snip1253 h3 {
    color: #333;
    font-size: 13px;
    font-family: Cairo, sans-serif;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 10px;
    margin-left: 44px;
    text-align: right;
    min-height: 80px;
}
figure.snip1253 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
    text-align: right;
    min-height: 110px;
}
figure.snip1253 footer {
    padding: 0 25px;
    background-color: #20638f;
    color: #e6e6e6;
    font-size: 0.8em;
    line-height: 30px;
    text-align: right;
}
figure.snip1253 footer > div {
    display: inline-block;
    margin-left: 10px;
}
figure.snip1253 footer i {
    color: rgba(255, 255, 255, 0.2);
    margin-right: 5px;
}
figure.snip1253 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
figure.snip1253:hover img,
figure.snip1253.hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.grid-box ul.list-posts {
    margin-bottom: 0px;
     background-color: transparent;
}


.news-cards {
    /* background-image: url(https://source.unsplash.com/random); */
    padding-left: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.uk-grid.uk-grid-medium img{
    width: 100%;
}
.featured-text {
    background-color: #ffffffc2;
}
.news-cards p a{
    color:#ffffff;
    text-align: right;
    font-size: 14px;
    padding: 1em;
    font-weight: bold;
    margin-top: 10px;
}
.news-cards p {
    color:#ffffff;
    font-size: 12px;
    text-align: right;
}


.news-text-bck {
    background-color: #000000c7;
    transition: all 0.15s ease-out;
    padding: 1em;
    width: 100%;
}

.news-text-bck:hover {
    /* white-space: normal; */
    transition: all 0.15s ease-out;
    background-color: rgba(0, 0, 0, 0.78);
}

.subtitle-text-block {
    overflow: hidden;
    position: relative;
    line-height: 1.4em;
    max-height: 0em;
    margin: 0em;
    padding-right: 1em;

    padding-top: 1em;
    transition: all 0.35s ease-out;
}
.subtitle-text-block:before {
    font-family: "fontawesome";
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
}
.subtitle-text-block:after {
    content: "";
    position: absolute;
    right: 0;
    /* width: 1em;
    height: 1em; */
    margin-top: 0.2em;
    background: white;
}

.card-hover:hover .subtitle-text-block {
    transition: all 0.35s ease-out;
    max-height: 9em;
}

.card-hover:hover .subtitle-text-block:before {
    content: "";
    transition: all 0.35s ease-out;
}
.uk-grid.uk-grid-medium {
    position: relative;
}

/*New vid*/
.o-video {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%; /* 9 / 16 * 100 */
}
.o-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
.post-small-youtube{
    cursor: pointer;
    margin-bottom: 9px;
    padding: 5px;
}
.post-small-youtube h4.title{
    color:#ffffff!important;
}
.new-dark-style{
    background-color: #232323!important;
    padding-top:40px;
    padding-bottom:40px;
}
.post-small-youtube{
    background-color: #2d2d2d;
}
.post-small-youtube .content{
    color:#ffffff;
}
.new-dark-style .title-section{
    background-color: transparent;
    margin-bottom: 20px;
}
.new-dark-style .title-section h1{
    color:#ffffff;
}
.post-small-youtube .content span {
    background: #9d2225;
    padding: 2px 10px;
    margin-bottom: 5px;
    display: inline-block;
}
.post-small-sport .sport-small-item{
 background-color: #2d2d2d;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.post-dark #dark-main-img img{
    width: 100%;
}
.post-small-sport .sport-small-item .content{
    color:#ffffff;
    padding: 8px;
}
.sport-small-item span{
    position: absolute;
    display: inline-block;
    padding: 5px;
    color: #ffffff;
    right: 0;
    background: #032c67;
    top: 0;
}
#dark-main-img .content{
    background-color: #2d2d2d;
    position: relative;
    margin-bottom: 10px;
    margin-top: -20px;
    padding: 10px;
}
#dark-main-img .content h2 ,#dark-main-img .content p,#dark-main-img .content h3,#dark-main-img .content h4{
    color: #ffffff;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    min-height: 48px;
}


#dark-main-img .content a:hover{
    color: #fff;
    text-decoration: none;
}


.sidebar .post-widget .posts-line .news-post {
width: 33.3333%;
float: left;
padding: 0 2px;
}
#dark-main-img .content.border{
    border-bottom: 4px solid #9d2225;
}
.lifestyle .content p{
    padding-right: 40px;
    min-height: 60px;
}
.lifestyle .content{
    position: relative;

}
.lifestyle .content .date {
    background-color: #9d2225;
    top: 15px;
    color: #fff;
    left: 8px;
    min-height: 40px;
    min-width: 40px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 5px;
    width: 36px;
}
/* h1 span:before {
content: " ";
top: 0;
right: 0;
display: block;
position: absolute;
background-clip: content-box;
width: 6px;
height: 35px;
background: #ac0000;
}*/

h1 span::after {
    content: " ";
    width: 32px;
    background-image: url(https://nedaa-post.com//storage/content_go_arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px 15px;
    margin-right: 10px;
    display: inline-block;
    height: 32px;

    position: absolute;
} 

.block-wrapper{
    background-color: #f5f8f8;
    margin-bottom: 20px;
}

.sidebar .widget {
    margin-bottom: 40px;
    background-color: #f5f8f8;
}

ul.list-posts > li {
    background-color: #fff;
}

.title-section h1 {
    font-size: 22px;
}

.sidebar .recent-comments-widget ul.comment-list li img {
    float: right;
}

.sidebar .recent-comments-widget ul.comment-list li .comment-content {
    margin-right: 90px;
}

.sidebar .recent-comments-widget ul.comment-list li .comment-content {
    margin-left: 0px;
}

.sidebar .recent-comments-widget ul.comment-list li .comment-content p.main-message {
    text-align: right;
}

.sidebar .recent-comments-widget ul.comment-list li .comment-content p {
    text-align: right;
}

/* .comment-list .comment-content .author p::before{
    font-family: FontAwesome;
    content: "\f10d";
    padding-right: 5px;
    color: #ac0000;
} */

.comment-list .comment-content .author p::after{
    font-family: FontAwesome;
    content: "\f10e";
    padding-left: 5px;
    color: #ac0000;
}

.sidebar .recent-comments-widget ul.comment-list li .comment-content p {
    padding: 0 0px;
}


.standard-post .post-gallery div.rate-level {
    right: 10px;
    bottom: 10px;
    left: 0px;
}

.grid-box ul.list-posts {
    margin-top: 20px;
}

.post-content, .lang-ar .post-content h2, .lang-ar .post-content p {
    padding-top: 10px;
}

ul.list-posts > li {
    padding-bottom: 0px;
}


.standard-post:hover:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: auto;
    height: 5px;
    width: 100%;
    border-bottom: 5px solid #ac0000;
    z-index: 1;
}

.news-post h3{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.title-section {
    margin-bottom: 0px;
}

.title-section h1 span {
    border-bottom: 4px solid #9d2225;
}

.standard-post .post-content {
    padding: 10px;
}

ul.post-tags li {
    color: #000;
    font-size: 15px;
}

ul.list-posts > li .post-content h2 {
    font-size: 15px;
}

body {
    background-color: #f5f8f8;
}
footer {
    background: #222;
}
footer .widget  h1{
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 16px;
}
footer .widget h1 span::after {
    content: " ";
    width: 0px;
    height: 0px;
}
footer .widget  h1 span{
    border-bottom: 4px solid #9d2225;
    padding-bottom: 10px;
    min-width: 120px;
}
.links-widget ul{
    list-style: none;
    padding-right: 0px;
}
.links-widget ul li{

    display: block;
    margin-bottom: 8px;
}
.links-widget li a{
    color: #fff !important;
}

.Subscribe-widget form input,
.Subscribe-widget form input:focus {
    padding: 10px 13px;
    border: 0;
    outline: 0;
}

.Subscribe-widget form input[type="email"] {
    margin-right: 15px;
    width: 300px;
    color: #a09f9f;
}

.Subscribe-widget form input[type="submit"] {
    padding: 10px 15px;
    color: #c0d6db;
    background: #427b89;
    text-shadow: 0 2px 2px #333;
    box-shadow: inset 0 0 0 transparent;
    background: #508f9f;
    background: linear-gradient(to bottom, #9d2225 0%, #db1b0f 100%);
    transition: all .3s ease-in-out;
}

.Subscribe-widget form input[type="submit"]:hover,
.Subscribe-widget form input[type="submit"]:focus {
    box-shadow: inset 0 0 50px rgba(255,255,255, 0.3),
    0 0 10px rgba(255,255,255, 0.1);
    color: white;
    margin-left: 10px;
}
footer .header_links{
 display: none;
}
.lang-ar .post-content, .lang-ar .post-content h2, .lang-ar .post-content p {
    font-size: 15px;
}



.authorbox {
    margin-top: 25px;
    padding: 8px 0 8px 0;
    background: transparent;
    box-shadow: none;
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
    margin-top: 8px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
    border-radius: 6px;
    flex-direction: column;
}
.single-post-box .about-more-autor .autor-box .autor-content {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.title-post.new-dark-style{
    margin-top: 10px;
    padding-top: 15px;

}
.title-post.new-dark-style h1{
    color: #ffffff !important;
}

.single-post-box .about-more-autor .autor-box {
    padding: 15px 15px 15px 0;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.single-post-box .about-more-autor .autor-box .autor-content p {
    margin: 0;
    font-size: 12px!important;
    display: block!important;
    float: right!important;
}

@media (max-width: 600px) {


}
@media (min-width: 1366px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 1366px) {
    .container {
        width: 96%;
    }
}
@media (max-width: 768px) {
    .news-headlines {
        width: 100%;
        background: #232323;
         position: relative;
    }
    .news-headlines ul{
        list-style: none;
    }
    .news-headlines li {
        min-height: 50px;
        font-size: 12px;
        margin: 0px;
        border-bottom: 1px solid #dddddd;
    }
    .search-button button {
        border: none;
        background: transparent;
        padding: 1.9em 20px;
        color: #fff;
    }
    .search-form {

        background-color: transparent;
        width: 100%;
        float: left;
        margin-top: 114px;
    }
    .search-form .form input {
        -webkit-appearance: none;
        border: none;
        width: 100%;}
    #search-submit {
        height: 100%;
        border: 0px;
        background: transparent;
        padding: 0px;
    }
    #search-submit i{
    color:#555;
}
}
